@use "../common/variables" as *;
@use "../common/mixin" as *;
@use "../common/button/button" as *;

.promo-header {
  background: url("../img/background/background_1.png") no-repeat center / cover;
  @include size(100vw, 100%, 100vh);
  @include flex-box(flex, center, stretch, row);
  padding-top: 1.25rem;

  &__container {
    @include size(80rem);
    @include flex-box(flex, space-between, flex-end, column);
  }

  &__content {
    @include flex-box(flex, space-between, center, row);
    padding: 0 2rem;
    width: 100%;
  }

  &__menu {
    max-width: 23.75rem;
    width: 100%;
  }

  &__list {
    list-style: none;
    @include flex-box(flex, space-between, stretch, row);
  }

  &__link {
    text-decoration: none;

    &:hover {
      .promo-header__icon {
        transform: translateY(-10px);
        cursor: pointer;
      }
    }
  }

  &__icon {
    transition: transform 0.5s ease;
  }

  &__logo {
    &:hover {
      cursor: pointer;
    }
  }

  &__block {
    @include size(39rem);
    height: 23.0625rem;
    background-color: $color-accent;
    clip-path: polygon(8% 0%, 100% 0%, 100% 86%, 92% 100%, 0% 100%, 0% 16%);
    margin: 0 2rem;
    @include flex-box(flex, center, center, column);
  }

  &__title {
    @include size(30.25rem);
    @include main-text();
    line-height: 1.1;
  }

  &__button {
    width: 17rem;
    height: 4.875rem;
    margin-top: 1.5625rem;
    font-weight: bold;
    background-color: $color-main;
    color: $color-accent;
    border: none;
    transition: all 0.3s ease;
    @include text($size: 1.5rem, $color: $color-accent);

    &:hover {
      cursor: pointer;
      border: 3px solid $color-border;
      font-size: 1.75rem;
    }
  }
  &__inner {
    @include flex-box(flex, center, null, column);
  }
}

@media (max-width: 45rem) {
  .promo-header {
    &__content {
      flex-direction: column;
    }

    &__container {
      align-items: center;
    }

    &__block {
      @include size(20rem);
      height: 13rem;
    }

    &__title {
      font-size: 1.875rem;
      text-align: center;
    } 
    
    &__inner {
      @include flex-box($align-items: center, $flex-direction: column);
    }
  }
}
