<section class="buy-section">
    <div class="buy-section__background"></div>
    <div class="buy-section__container">
      <div class="buy-section__block">
        <h2 class="buy-section__title">Купить игру Cyberpunk 2077</h2>
        <div class="buy-section__complects">
          <h3 class="buy-section__inclusion">В комплект входит:</h3>
          <ul class="buy-section__list">
            <li class="buy-section__item"><img src="./img/icons/disk.png" alt="" class="buy-section__icons">Футляр с
              игровыми дисками</li>
            <li class="buy-section__item"><img src="./img/icons/code.png" alt="" class="buy-section__icons">Футляр с
              кодом для загрузки игры и дисками (pc)</li>
            <li class="buy-section__item"><img src="./img/icons/collections.png" alt=""
                class="buy-section__icons">Справочник с информацией об игровом мире</li>
          </ul>
        </div>
        <div class="buy-section__crossplatforms">
          <h3 class="buy-section__choice">Выберите платформу:</h3>
          <div class="buy-section__table">
            <div class="buy-section__cell">
              <a href="https://store.steampowered.com/bundle/32470/Cyberpunk_2077_Polnoe_izdanie/" target="_blank"
                class="buy-section__link"><img src="./img/icons/PC.png" alt="" class="buy-section__platform"></img></a>
              <a href="" target="_blank" class="buy-section__link"> <img src="./img/icons/XBOX_ONE.png" alt=""
                  class="buy-section__platform"></img></a>
            </div>
            <div class="buy-section__cell">
              <a href="" target="_blank" class="buy-section__link"><img src="./img/icons/stadia.png" alt=""
                  class="buy-section__platform"></img></a>
              <a href="" target="_blank" class="buy-section__link"><img src="./img/icons/PS4.png" alt=""
                  class="buy-section__platform"></img></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>