@use "../common/variables" as *;
@use "../common/mixin" as *;


h1,h2,h3,h4,h5,h6{
  all: unset;
}

.night-city {
  @include flex-box(flex, center, center);
  background-color: $color-light;

  &__container {
    @include size(80rem);
    margin-top: 70px;
    padding: 0 32px;
  }

  &__text {
    @include size(62.5rem);
    @include flex-box(flex, $flex-direction: column)
  }

  &__title {
    @include main-text();
  }

  &__description {
    @include text($color: #777777);
    margin-top: 24px;
  }
 
  &__gallery {
    margin-top: 70px;
    @include flex-box(flex, space-between, center, row, 2vw);
    max-height: 26.5rem;
    height: 100%;
    margin-bottom: 80px;
  }

  &__small-img {
    @include flex-box(flex, space-between, stretch, column, 2vw);
    &_item {
      max-width: 100%;
    }
  }

  &__large-img {
    &_item {
      max-width: 100%;
    }
  }
}

@media (max-width: 64rem) {
  .night-city {
    &__gallery {
      @include flex-box(flex, space-between, center, column, 2vw);
      @include size($max-width: 100%);
      max-height: none;
    }

    &__small-img {
      @include flex-box($flex-direction: row, $gap:2vw);
      @include size($max-width: 100%);

      &_item {
        @include size($max-width: 28.5rem, $height: auto);
        overflow: hidden;
      }
    }

    &__large-img {
      @include size($max-width: 100%);
      &_item {
        @include size($max-width: 59.5rem, $height: auto);
      }
    }
  }
}

@media (max-width: 45rem) {
  .night-city {
    &__gallery {
      max-height: none;
      height: auto;
    }

    &__small-img {
      @include flex-box($align-items: center, $flex-direction: column, $gap:2vw);
    }

    &__large-img {
      max-width: 28.5rem;
      height: 26.5rem;
      overflow: hidden; 

      &_item { 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
       clip-path: polygon(16% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 15%);
      }
    }
  }
}