@use "../common/variables" as *;
@use "../common/mixin" as *;

@use "../promo-header/promo-header" as *;
@use "../night-city/night-city" as *;
@use "../raffle-console/raffle-console" as *;
@use "../advertisement-HP/advertisement-HP" as *;
@use "../buy-section/buy-section" as *;
@use "../footer/footer" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

