@use "../common/variables" as *;
@use "../common/mixin" as *;
@use "../common/fonts" as *;
@use '../common/common' as *;
@use "../promo-header/promo-header" as *;
@use "../night-city/night-city" as *;
@use "../raffle-console/raffle-console" as *;
@use "../advertisement-HP/advertisement-HP" as *;
@use "../buy-section/buy-section" as *;
@use "../footer/footer.scss" as *;

@use "../common/button/button" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;  
  width: 100%;           
}
 