<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyberpunk 2077 — Играй и выигрывай</title>
    <link rel="stylesheet" href="/src/components/styles/style.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="transition-background black-white"></div>
    <section class="raffle-console">
      <div class="raffle-console__container">
        <div class="raffle-console__header">
          <div class="raffle-console__logo"><img src="./img/logo/logo_raffle.jpg" alt="" class="raffle-console__item"></div>
          <div class="raffle-console__title">Играй и выигрывай!</div>
        </div>
        <div class="raffle-console__description">Играй в <span class="raffle-console__text dedicated"><a href="https://www.cyberpunk.net/ru/ru/" target="_blank" class="raffle-console__link">Cyberpunk 2077</a></span> и получи возможность выиграть консоль <span class="raffle-console__text dedicated"><a href="https://www.xbox.com/ru-RU/consoles/xbox-series-x" target="_blank" class="raffle-console__link">Xbox Series X</a></span> или Sony <span class="raffle-console__text dedicated"><a href="https://www.playstation.com/ru-ua/ps5/" target="_blank" class="raffle-console__link">Sony PlayStation 5!</a></span> Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)</div>
        <div class="raffle-console__block">
            <form action="" class="raffle-console__form">
                <input type="text" class="raffle-console__field" placeholder="Как тебя зовут ?">
                <input type="email" class="raffle-console__field" placeholder="Твой е-mail">
                <label for="file" class="raffle-console__label-file">
                    <span class="raffle-console__label-title">Прикрепить скриншот</span>
                    <span class="raffle-console__label-subtitle">.png / .jpg / .pdf</span>
                </label>
                <input type="file" id="file" class="raffle-console__file" accept=".png, .jpg, .pdf">
                <button class="raffle-console__button">Отправить</button>
            </form>
            
        </div>
    </div>
    </section>
  </body>
</html>
