<!DOCTYPE html>
<html lang="en"> 
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077 — Играй и выигрывай</title>
    <link rel="stylesheet" href="/src/components/styles/style.css">
    <title>Document</title>
</head>
<body>
       <section class="night-city">
        <div class="night-city__container">
            <article class="night-city__text">
                <div class="night-city__title">Найт-Сити изменит тебя навсегда!</div>
                <div class="night-city__description">Cyberpunk 2077 — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</div>
            </article>
            <div class="night-city__gallery">
                <div class="night-city__small-img">
                    <img src="./img/gallery/small_CP_1.png" alt="" class="night-city__small-img_item">
                    <img src="./img/gallery/small_CP_2.png" alt="" class="night-city__small-img_item">
                </div>
                <div class="night-city__large-img">
                    <img src="./img/gallery/large_CP.png" alt="" class="night-city__large-img_item">
                </div>
            </div>
        </div>
       </section>
</body>
</html>
