<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077 — Играй и выигрывай</title>
    <link rel="stylesheet" href="/src/components/styles/style.css">
    <title>Document</title>
</head>
<body>
   <header class="promo-header">
    <div class="promo-header__container">
        <div class="promo-header__content">
            <a href="#" class="promo-header__logo">
                <img src="./img/logo/logo.png" alt="CyberPunk2077" class="promo-header__img">
            </a>
            <nav class="promo-header__menu">
            <ul class="promo-header__list">
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/youtube_logo.png" alt="YouTube" class="promo-header__icon"></a></li>
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/vk_logo.png" alt="VK" class="promo-header__icon"></a></li>
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/facebook_logo.png" alt="Facebook" class="promo-header__icon"></a></li>
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/twitch_logo.png" alt="Twitch" class="promo-header__icon"></a></li>
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/twitter_logo.png" alt="Twitter" class="promo-header__icon"></a></li>
                <li class="promo-header__item"><a href="" class="promo-header__link"><img src="/src/components/img/logo/instagram_logo.png" alt="Instagram" class="promo-header__icon"></a></li>
            </ul>
           </nav>
        </div>
        <div class="promo-header__block">
            <div class="promo-header__inner">
                <h2 class="promo-header__title">Доступно на всех платформах</h2>
                <button class="promo-header__button">Узнать больше</button>
            </div>
        </div>
    </div>
   </header>
</body>
</html>