  <footer class="footer">
    <div class="footer-container">
      <div class="footer-container__logo">
        <img src="./img/logo/logo.png" alt="Логотип" class="footer-container__img">
        <img src="./img/logo/CDProject.png" alt="CDProject" class="footer-container__img">
      </div>
      <div class="footer-container__info">
        <p class="footer-container__text">Лицензия</p>
        <p class="footer-container__text">Политика конфиденциальности</p>
      </div>
    </div>
    <div class="footer-copyright">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</div>
  </footer>