@use "../common/common" as *;
@use "../common/mixin" as *;
@use "../common/variables" as *;

.black-yellow {
  background-image: url(../img/background/black-yellow.png);
}

.advertisement-HP {
  background-color: $color-accent;
  @include flex-box(flex, center, center);
  padding-top: 70px;

  &__container {
    @include size(80rem);
    @include flex-box(flex, space-between, center);
    gap: 32px;
    margin-bottom: 70px;
  }

  &__galerry {
    @include size(39rem);
    @include flex-box(flex, center, center, column);
    gap: 25px;
  }

  &__main-img {
    & img {
      width: 100%;
    }
  }

  &__logo {
    @include flex-box(flex, space-between, center);
    @include size(33.75rem);
  }

  &__info {
    @include size(39rem);
  }

  &__title {
    @include main-text();
  }

  &__description {
    @include text($color: $color-main);
    margin-top: 25px;
  }

  &__icons {
    width: 2rem;
    height: auto;
  }

  &__list {
    list-style: none;
    @include flex-box(flex, $flex-direction: column);
    gap: 15px;
    margin-top: 25px;
    @include text($color: $color-main);
    
  }

  &__item {
    @include flex-box(flex, $align-items: center);
    gap: 10px;
    transition: transform 0.3s ease;
    &:hover{
      transform: translateY(-5px);
    }
  }

  &__button {
    margin-top: 40px;
    @include text($color: $color-accent, $weight: 900);
    transition:
      font-size 0.3s;

    &:hover {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 64rem) {
    .advertisement-HP {
      &__container {
        padding-inline: 36px;
      }

      &__logo {
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  @media (max-width: 45rem) {
    .advertisement-HP {
      &__container {
        @include flex-box($flex-direction: column);
        padding-inline: 12px;
      }

      &__logo {
        flex-direction: row;
        gap: 13px;

        & img {
          max-height: 2.75rem;
        }
      }

      &__title {
        font-size: 1.875rem;
      }

      &__description {
        font-size: 1rem;
      }

      &__item {
        font-size: 1rem;
      }

      &__button {
        font-size: 1rem;
      }

      &__icons {
        width: 1.5rem;
      }
    }
  }

  @media (max-width: 30rem) {
    .ligament {
      width: 50px;
      height: 11px;
    }
  }
}