 <div class="transition-background black-yellow"></div>
    <div class="advertisement-HP">
     <div class="advertisement-HP__container">
       <div class="advertisement-HP__galerry">
        <div class="advertisement-HP__main-img"><img src="../components/img/gallery/HP_monitor.png" alt="Монитор HP" class="advertisement-HP__img"></div>
        <div class="advertisement-HP__logo">
          <img src="../components/img/logo/HP_logo.png" alt="Лого HP" class="advertisement-HP__img">
          <img src="../components/img/logo/ligament.png" alt="" class="advertisement-HP__img ligament">
          <img src="../components/img/logo/logo.png" alt="" class="advertisement-HP__img">
        </div>
      </div>
      <div class="advertisement-HP__info">
        <div class="advertisement-HP__title">Полное погружение вместе с HP</div>
        <div class="advertisement-HP__description">Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</div>
        <div class="advertisement-HP__dignity">
          <ul class="advertisement-HP__list">
            <li class="advertisement-HP__item"><img src="../components/img/icons/color.png" alt="" class="advertisement-HP__icons">Яркие насыщенные цвета</li>
            <li class="advertisement-HP__item"><img src="../components/img/icons/awesome.png" alt="" class="advertisement-HP__icons">Кристальная четкость изображения</li>
           <li class="advertisement-HP__item"><img src="../components/img/icons/motion.png" alt="" class="advertisement-HP__icons">Быстрые движения и плавный геймплей</li>
          </ul>
        </div>
        <button class="advertisement-HP__button">Подробнее</button>
      </div>
     </div>
    </div>